@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: 'Poppins', sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 0px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
  }
  
  .card {
    background-color: #2962ff;
  }

  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > i {
    font-size: 20px;
  }
  
  .charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  
  .charts-card {
    max-width: 1000px;
    background-color: #FDFDFD;
    width: 100%;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1d2634;
    font-weight: 700;
  }
  
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
  }

  .charts-card {
      max-width: 400px;
      width: 100%;
      margin-bottom: 20px;
      padding: 25px;
      box-sizing: border-box;
      border-radius: 5px;
      box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  }
  
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }