@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


:root{
    --bg: #1d2634;
    --color1: #0000004d;
    --color2: #181c20;
    --color3: #212529;
    --color4: #2d3135;
    --color5: #424549;
    --color6: #404346;
    --color7: #9c9c9c;
    --color8: #dae0e7;
    --color9: #262a2e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: var(--bg);
}

.btn {
    padding: 4px 12px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
}

.btn-view {
    background-color: #F58F29;
    margin-right: 5px;
}

.btn-ubah {
    background-color: #007bff;
    margin-right: 5px;
  }
  
.btn-hapus {
    background-color: #dc3545;
    margin-left: 5px;
}

select {
    background: none;
    appearance: none;
    -webkit-appearance: auto;
    -moz-appearance: none;
    border: none; 
    text-align: center;
    font-weight: 600;
}

.not_approved_status {
    color: #dc3545;
}

.approved_status {
    color: #06d6a0;
}

option {
    border: none;
}

.sortFtr i {
    color: #dae0e7;
}

.container{
    padding: 20px;
    box-shadow: 3px 3px 20px var(--color1);
    background: var(--color3);
    border-radius: 10px;
    min-width: 150dvh;
    margin-top: 50px;
}

.container header .filterEntries{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filterEntries .entries{
    color: var(--color8);
}

.filterEntries .entries select, .filterEntries .filter input{
    padding: 7px 10px;
    border: 1px solid var(--color6);
    color: var(--color8);
    background: var(--color4);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}


.filterEntries .entries select{
    padding: 5px 10px;
    text-align: left;
}

.filterEntries .filter{
    display: flex;
    align-items: center;
}

.filter label{
    color: var(--color8);
    margin-right: 5px;
}

.filter input:focus{
    border-color: var(--color7);
}

.container header .tambahData {
    margin-bottom: 15px;
}

header .button{
    padding: 9px 14px;
    color: var(--color8);
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--color6);
    background: var(--color4);
    border-radius: 5px;
    text-decoration: none;
}

.button:hover{
    background: var(--color5);
}

table {
  min-width: 100% !important;
  overflow-x: auto !important;
}

.container table{
    border-collapse: collapse;
    text-align: center;
}

table .heading{
    background: var(--color5);
    background: transparent;
    color: var(--color8);
}

table .heading th:hover{
    background: var(--color4);
    transition: 0.3s;
}

table tr th, table tr td{
    padding:3px 15px;
    color: var(--color8);
    vertical-align: middle;
}

tr {
    height: 50px;
}

table tr th{
    padding: 12px 15px;
}

table tr td:nth-child(1), table tr td:nth-child(2){
    text-align: center;
}

table tr td img{
    vertical-align: middle;
}
table tr:hover{
    cursor: pointer;
    background: var(--color9);
}

table tr td{
    border-bottom: 1px solid var(--color6);
}

table tbody tr:first-child td{
    border-top: 1px solid var(--color6);
}

table tbody tr:nth-child(odd){
    background: var(--color9);
}

table tr td{
    font-size: 15px;
}

table td button{
    margin: 0 3px;
    padding: 5px;
    width: 35px;
    background: var(--color5);
    color: var(--color8);
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--color7);
}

.container footer{
    margin-top: 25px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container footer span{
    color: var(--color8);
}

footer .pagination{
    display: flex;
}


footer .pagination button{
    width: 40px;
    padding: 5px 0;
    color: var(--color8);
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    pointer-events: auto;
    outline: none;
    border: 1px solid var(--color6);
    border-left: none;
    margin: 0;
}

.pagination button:hover {
    background-color: var(--color5);
    color: var(--color8);
    transition: background-color 0.3s, color 0.3s;
}
  
table tr .empty{
    padding: 6px;
    background: var(--color9);
}
